html {
  background-color: #ffffff;
}

body {
  background-image: url(../img/fond_peinture.jpg);
  margin: auto;
  max-width: 320px;
}

img {
  display: block;
  max-width: 100%;
}

p {
  color: #ffffff;
  font-family: 'Krub', sans-serif;
  font-size: 12px;
}

h2, h3, h4, h5, a {
  font-family: 'Passion One', cursive;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.connect {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.connect img {
  max-width: 35px;
  padding-right: 12px;
}

h1 {
  margin: 30px 0 20px;
  padding: 0 30px;
}

.menu, .small-menu {
  display: flex;
  flex-direction: column;
  margin: 35px;
}

.container {
  position: relative;
  width: 100%;
}

.polygon {
  margin: auto;
  max-width: 200px;
  padding: 20px 0 20px 15px;
}

.eat {
  padding: 40px 20px 40px 0;
}

.festival, .food, .networks {
  position: absolute;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 23px;
  text-align: center;
  -webkit-text-stroke: #000000 0.5px;
}

.festival {
  top: 53%;
  left: 52%;
}

.food {
  top: 51%;
  left: 50%;
}

.networks {
  top: 51%;
  left: 49%;
}

.menu a:hover {
  color: #02fa22;
}

.context {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-8deg);
}

.firstclip {
  background-color: #ffffff;
  border: #000000 solid 3px;
  height: 8px;
  max-width: 245px;
}

h2 {
  color: #ffffff;
  font-size: 45px;
  margin: 55px 0;
  -webkit-text-stroke: #000000 1.25px;
}

.text, .hours, .misterflow {
  background-color: #000000bb;
  border: #ffffff solid 3px;
  margin: 0 25px;
}

.text {
  margin-bottom: 55px;
  padding: 0 13px;
}

.tags-box {
  margin: auto;
  max-width: 185px;
  padding: 5px 15px 5px 0;
}

.skate-box {
  margin: auto;
  max-width: 150px;
  padding: 30px 0 40px 15px;
}

.music-box {
  margin: auto;
  max-width: 160px;
  padding: 20px 30px 5px 0;
}

.tags, .skate, .music {
  position: absolute;
  transform: translate(-50%, -50%);
  color: #000000;
  text-align: center;
  -webkit-text-stroke: #000000 0.5px;
}

.tags {
  font-size: 17px;
  top: 48%;
  left: 53%;
}

.tags:hover {
  color: #ff0094;
}

.skate {
  font-size: 20px;
  top: 48%;
  left: 51%;
}

.skate:hover {
  color: #ff0094;
}

.music {
  font-size: 18px;
  top: 60%;
  left: 53%;
}

.music:hover {
  color: #ff0094;
}

h3 {
  color: #ffffff;
  font-size: 30px;
  margin: 55px 0;
  -webkit-text-stroke: #000000 1px;
}

.hours {
  padding: 10px 30px 20px;
  text-align: center;
}

h5 {
  color: #ffffff;
  font-size: 20px;
  margin: auto;
  padding-top: 20px;
}

.highlight {
  font-size: 9px;
  margin: 45px 0 0;
  text-align: left;
}

h4 {
  color: #ffffff;
  font-size: 25px;
  margin: auto;
  padding: 30px 0 20px;
}

.misterflow {
  margin-top: 25px;
  padding: 0 13px;
}

.rider {
  max-width: 200px;
  margin: auto;
}

.legend {
  font-size: 10px;
  margin: 13px 0 40px 0;
  text-align: center;
  text-transform: uppercase;
}

.foodtruck {
  padding: 0 15px 10px;
}

.foodtruck h5 {
  margin-bottom: 15px;
}

.secondclip {
  background-color: #ffffff;
  border: #000000 solid 1px;
  height: 3px;
  max-width: 210px;
}

.accounts {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  padding-bottom: 30px;
}

.accounts img {
  max-width: 60px;
}

.mail {
  margin-top: 10px;
}

.address-box {
  margin: auto;
  max-width: 210px;
  padding-right: 10px;
}

.address p, .address a {
  position: absolute;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
}

.address p {
  top: 30%;
  left: 50%;
}

.address a {
  font-family: 'Krub', sans-serif;
  font-size: 12px;
  text-transform: lowercase;
  top: 70%;
  left: 50%;
}
