html {
  background-color: #ffffff;
}

body {
  background-image: url(../img/fond_peinture.jpg);
  margin: auto;
  max-width: 320px;
}

img {
  display: block;
  max-width: 100%;
}

p {
  color: #ffffff;
  font-family: 'Krub', sans-serif;
}

h2, h3, h4, h5, a {
  font-family: 'Passion One', cursive;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.connect {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.connect img {
  max-width: 35px;
  padding-right: 12px;
}

h1 {
  margin: 30px 0 20px;
  padding: 0 30px;
}

.context {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-8deg);
}

.firstclip {
  background-color: #ffffff;
  border: #000000 solid 3px;
  height: 8px;
  max-width: 245px;
}

h2 {
  color: #ffffff;
  font-size: 45px;
  margin: 55px 0;
  -webkit-text-stroke: #000000 1.25px;
}

.text, .hours, .misterflow {
  background-color: #000000bb;
  border: #ffffff solid 3px;
  font-size: 13px;
  margin: 0 25px;
}

.text {
  margin-bottom: 55px;
  padding: 0 13px;
}

h3 {
  color: #ffffff;
  font-size: 30px;
  margin: 55px 0;
  -webkit-text-stroke: #000000 1px;
}

.hours {
  padding: 10px 30px 20px;
  text-align: center;
}

h5 {
  color: #ffffff;
  font-size: 20px;
  margin: auto;
  padding-top: 20px;
}

.highlight {
  font-size: 9px;
  margin: 45px 0 0;
  text-align: left;
}

h4 {
  color: #ffffff;
  font-size: 25px;
  margin: auto;
  padding: 30px 0 20px;
}

.misterflow {
  margin-top: 25px;
  padding: 0 13px;
}

.rider {
  max-width: 220px;
  margin: auto;
}

.legend {
  font-size: 11px;
  margin-top: 13px;
  text-align: center;
  text-transform: uppercase;
}

.foodtruck {
  font-size: 12px;
  padding: 0 15px 10px;
}

.foodtruck h5 {
  margin-bottom: 15px;
}

.secondclip {
  background-color: #ffffff;
  border: #000000 solid 2px;
  height: 4px;
  max-width: 210px;
}